* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-color: #5e5e5e;
    width: 100%;
    height: 150px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    color: #fff;
    padding-top: 50px;
    font-size: 42px;
  }
    
  h2 {
    padding: 10px 0 10px 20px;
    font-size: 28px;
  }
  
  label {
    font-size: 24px;
  }
  
  form {
    padding: 0 0 0 20px;
  }
  
  #addCourse {
    width: 90%;
    max-width: 1000px;
    height: auto;
    margin: 50px auto 0;
  }
  
  
 